<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      idunno to do list
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img class="img rotate" src="/assets/icon/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>Google auth</h2>
      </ion-label>
      <ion-checkbox slot="end" checked="false" disabled="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img class="img rotate" src="/assets/icon/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>Fingerprint auth</h2>
      </ion-label>
      <ion-checkbox slot="end" checked="false" disabled="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img class="img rotate" src="/assets/icon/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>Socket server - chat</h2>
      </ion-label>
      <ion-checkbox slot="end" checked="false" disabled="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img class="img rotate" src="/assets/icon/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>Firestore image uploads</h2>
      </ion-label>
      <ion-checkbox slot="end" checked="false" disabled="true"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img class="img rotate" src="/assets/icon/icon.png">
      </ion-avatar>
      <ion-label>
        <h2>Awesome home page and logo</h2>
      </ion-label>
      <ion-checkbox slot="end" checked="true" disabled="true"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
