<ion-header>
  <ion-toolbar>
    <ion-title>
      chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-text color="medium" text-center>
      <p>You joined the chat as {{ currentUser }}</p>
    </ion-text>
    <div *ngFor="let msg of messages">
      <ion-row >
        <ion-col size="9" *ngIf="msg.user !== currentUser" class="message other-message">
          <b>{{ msg.user }}</b><br>
          <span>{{ msg.msg }}</span>
          <div class="time" text-right><br>{{ msg.createdAt | date:'short' }}</div>
        </ion-col>

        <ion-col offset="3" size="9" *ngIf="msg.user === currentUser" class="message my-message">
          <b>{{ msg.user }}</b><br>
          <span>{{ msg.msg }}</span>
          <div class="time" text-right><br>{{ msg.createdAt | date:'short' }}</div>
        </ion-col>

      </ion-row>
    </div>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
